<%- include("partial/header") -%>
<h1>Compose</h1>
<form action="/compose" method="post">
    <div class="form-group">
        <label for="name">Title</label>
        <input class="form-control" type="text" name="postTitle" placeholder="Enter your post title here">
        <label for="name">Post</label>
        <textarea class="form-control" type="text" name="postContent" placeholder="Enter your post content here" rows="3" cols="80%"></textarea>
    </div>  
    <button class="btn btn-primary" type="submit" name="composePublish">Publish</button>
</form>
<%- include("partial/footer") -%>